@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-bg-primary-btn text-main-text-white btn hover:bg-bg-primary-btn-hover;
  }
  .btn {
    @apply rounded-md transition ease-linear duration-150 text-[15px];
  }
  .gray-component {
    @apply bg-main-gray rounded-[10px] border border-[#2c2c2c] shadow-gray-component-shadow text-main-text-white focus:!outline-none;
  }
  .light-component {
    @apply bg-nav-light rounded-[10px] border border-light-border text-main-text-black shadow-light-component-shadow;
  }
  .popular {
    @apply bg-[#9610ef] text-main-text-white px-3 rounded-[4px] text-sm h-[21px] w-fit;
  }
  .loading-dark {
    @apply animate-pulse bg-loading-gray rounded-[8px];
  }
  .loading-light {
    @apply animate-pulse bg-loading-light rounded-[8px];
  }
  .text-box {
    @apply border border-search-border text-main-text-white !rounded-md py-2 px-3 bg-main-gray 
    placeholder:text-search-placeholder-dark focus:outline-none focus:outline-offset-0 focus:outline-[3px]
    focus:outline-[#424242] transition ease-linear duration-100;
  }
  .text-box-light {
    @apply border border-[#ccd0d5] text-main-text-black !rounded-md py-2 px-3 bg-nav-light 
    placeholder:text-search-placeholder-light focus:outline-none focus:outline-offset-0 focus:outline-[3px]
    focus:outline-[#eaecee] transition ease-linear duration-100;
  }
  .pass-strength {
    @apply h-[10px] bg-light-border dark:bg-loading-gray w-[25%] rounded-md transition ease-linear duration-100;
  }
  .disabled-btn {
    @apply !bg-loading-gray opacity-60 hover:bg-loading-gray pointer-events-none focus:outline-none;
  }
  .disabled-btn-light {
    @apply !bg-[#c1c1c1] hover:bg-loading-light pointer-events-none text-main-text-white focus:outline-none;
  }
  .text-box-error-focus {
    @apply border-none outline outline-2 outline-side-text-red focus:outline-side-text-red;
  }
  .footer-link {
    @apply text-bg-primary-btn-hover block max-md:text-center;
  }
  .nav-item {
    @apply font-semibold text-main-text-black dark:text-main-text-white cursor-pointer;
  }
  .secondary-btn {
    @apply text-main-text-white bg-main-text-black hover:bg-main-text-black-hover !border-main-text-black dark:bg-[#292929] 
    dark:dark:hover:bg-[#2c2c2c] dark:text-main-text-white rounded-md px-4 h-[37px] 
    btn dark:border dark:!border-[#444444];
  }
  .mobile-nav-item {
    @apply flex items-center gap-6 p-3 cursor-pointer hover:bg-[#f7f7f7] dark:hover:bg-[#212121] rounded-[8px] transition ease-out;
  }
  .danger-btn {
    @apply bg-main-red hover:!bg-main-red-hover hover:!text-main-text-white hover:!border-main-red dark:bg-[#292929] 
    dark:text-side-text-red px-4 h-[37px] text-main-text-white btn dark:border dark:border-[#444444];
  }
  .success-btn {
    @apply !bg-rating-green !border-rating-green !text-main-text-white;
  }
  .login-btn {
    @apply btn text-main-text-black dark:text-main-text-white border border-main-text-black 
    dark:border-search-border bg-transparent py-2 px-4 min-w-[100px] rounded-md 
    dark:hover:bg-[#2B2B2B] hover:bg-main-text-black hover:text-main-text-white;
  }
  .signup-btn {
    @apply py-2 px-4 min-w-[100px] btn-primary border border-bg-primary-btn;
  }
}