APP_SECRET_KEY=FLASK_APP_SECRET_KEY_HERE
USER_JWT_SECRET_KEY=USER_JWT_SECRET_KEY_HERE
ADMIN_JWT_SECRET_KEY=ADMIN_JWT_SECRET_KEY_HERE
REDIS_STORAGE_URI=REDIS_INSTANCE_URI_HERE
DATABASE_URI=POSTGRES_DATABASE_URI_HERE
PORT=PORT_NUMBER_HERE